<!-- Template for displaying devices -->

{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center p-5">
    <h1>List of Devices</h1>
    <p>Here is a list of the current Device configurations in the database</p>
    <div class="btn-group" role="group" aria-label="Default button group">
        {% if devices|length == 0 %}
        <a type="button" class="btn" href="{{url_for('devices.add_device')}}">Add Device</a>
        {% else %}
        <a type="button" class="btn" href="{{url_for('devices.add_device')}}">Add Device</a>
        <a type="button" class="btn" href="{{url_for('devices.update_device')}}">Update Device</a>
        {% if current_user.is_admin == True %}
        <a type="button" class="btn" href="{{url_for('devices.delete_device')}}">Delete Device</a>
        {% endif %}
        {% endif %}
    </div>
</div>

<div class="jumbotron">
    {% if devices|length == 0 %}
    <p class="text-center">There are no entries in the Device table</p>
    {% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">OS</th>
                <th scope="col">IP</th>
                <th scope="col">Date Added</th>
                <th scope="col">Date of Last Run</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{device["name"]}}</td>
                <td>{{device["device_type"]}}</td>
                <td>{{device["os"]}}</td>
                <td>{{device["ip"]}}</td>
                <td>{{device["date_added"]}}</td>
                <td>{{device["last_run"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}