<!-- NETWORK TEMPLATE -->

{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Add a New Network Configuration</h1>
    <p>Enter the information below to add a new network</p>
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name()}}
        <br>
        {{form.datatype.label}}{{form.datatype()}}
        <br>
        {{form.provenance.label}}{{form.provenance()}}
        <br>
        {{form.format.label}}{{form.format()}}
        <br>
        {{form.submit()}}

    </form>
</div>
{% endblock %}