<!-- Template for adding networks -->

{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center p-5">
    <h1>Add a New Network Configuration</h1>
    <br>
    {% if form.datatype.choices|length == 0 %}
    <p class="text-center">There are no entries in the Datatype table</p>
    <p class="text-center">This means you will not be able to add a Network configuration with a referenced Datatype</p>
    {% if current_user.is_admin == True %}
    <a href="{{url_for('authentication.populate_db_tables')}}" class="btn col-lg-6">Click here to populate database
        tables</a>
    {% else %}
    <p class="text-center">To fix this, log in as an administrator</p>
    {% endif %}
    {% else %}
    <p>Enter the information below to add a new network</p>
    <br>
    <div class="col-xxl-4 col-lg-6 mx-auto">
        <form method="POST">
            {{form.hidden_tag()}}

            <div class="form-floating">
                {{form.name(class="form-control", placeholder="")}}
                {{form.name.label}}
            </div>
            <p>Datatype</p>
            {% for subfield in form.datatype %}
            <div class="form-check form-check-inline">
                <td>{{subfield(class="form-check-input")}}</td>
                <td>{{subfield.label}}</td>
            </div>
            {% endfor %}
            <br>
            <div class="form-floating">
                {{form.provenance(class="form-control", placeholder="")}}
                {{form.provenance.label}}
            </div>
            <br>
            <div class="form-floating">
                {{form.format(class="form-control", placeholder="")}}
                {{form.format.label}}
            </div>
            <br>
            <div class="row">
                {{form.submit(class="btn col-lg-6")}}
                <a href="{{url_for('networks.list_networks')}}" class="btn col-lg-6">Cancel</a>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}