<!-- NETWORK TEMPLATE -->

{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center p-5">
    <h1>Delete a Network</h1>
    <p>Enter a network ID to remove it from the database</p>
    <div class="d-inline-flex gap-2 mb-5">
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="form-floating">
                {{form.id(class="form-control", placeholder="")}}
                {{form.id.label}}
            </div>
            <br>
            {{form.submit(class="btn col-lg-12")}}
        </form>
    </div>
</div>
{% endblock %}