<!-- NETWORK TEMPLATE -->

{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center p-5">
    <h1>List of Networks</h1>
    <p>Here is a list of the Networks in the database</p>
    <div class="btn-group" role="group" aria-label="Default button group">
        {% if networks|length == 0 %}
        <a type="button" class="btn" href="{{url_for('networks.add_network')}}">Add Network</a>
        {% else %}
        <a type="button" class="btn" href="{{url_for('networks.add_network')}}">Add Network</a>
        <a type="button" class="btn" href="{{url_for('networks.update_network')}}">Update Network</a>
        {% if current_user.is_admin == True %}
        <a type="button" class="btn" href="{{url_for('networks.delete_network')}}">Delete Network</a>
        {% endif %}
        {% endif %}
    </div>
</div>
<div class="jumbotron">
    {% if networks|length == 0 %}
    <p class="text-center">There are no entries in the Network table</p>
    {% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Datatype</th>
                <th scope="col">Provenance</th>
                <th scope="col">Format</th>
                <th scope="col">Date Added</th>
                <th scope="col">Date of Last Run</th>
            </tr>
        </thead>
        <tbody>
            {% for network in networks %}
            <tr>
                <td>{{network["name"]}}</td>
                <td>{{network["datatype"]}}</td>
                <td>{{network["provenance"]}}</td>
                <td>{{network["format"]}}</td>
                <td>{{network["date_added"]}}</td>
                <td>{{network["last_run"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}