<!-- Template for updating networks -->

{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center p-5">
    <h1>Update a Network Configuration</h1>
    <br>
    <p>Select a Configuration from the dropdown, then enter the new information in the fields</p>
    <p>Fields can be left blank to leave the data unchanged</p>
    <br>
    <div class="col-xxl-4 col-lg-6 mx-auto">
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.network(class="form-select")}}
            <br>
            <div class="form-floating">
                {{form.name(class="form-control", placeholder="")}}
                {{form.name.label()}}
            </div>
            <p>New Datatype</p>
            {% for subfield in form.datatype %}
            <div class="form-check form-check-inline">
                <td>{{subfield(class="form-check-input")}}</td>
                <td>{{subfield.label}}</td>
            </div>
            {% endfor %}
            <br>
            <div class="form-floating">
                {{form.provenance(class="form-control", placeholder="")}}
                {{form.provenance.label}}
            </div>
            <br>
            <div class="form-floating">
                {{form.format(class="form-control", placeholder="")}}
                {{form.format.label}}
            </div>
            <br>
            <div class="row">
                {{form.submit(class="btn col-lg-6")}}
                <a href="{{url_for('networks.list_networks')}}" class="btn col-lg-6">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}