<!-- LOGIN TEMPLATE -->

{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="jumbotron text-center bg-body-secondary">
        <h1 class="text-body-emphasis">Login to your Account</h1>
        <br>
        <div class="d-inline-flex gap-2 mb-5">
            <form method="POST">
                {{form.hidden_tag()}}
                <div class="form-floating">
                    {{form.username(class="form-control", placeholder="")}}
                    {{form.username.label}}
                </div>
                <div class="form-floating">
                    {{form.password(class="form-control", placeholder="")}}
                    {{form.password.label}}
                </div>
                <br>
                {{form.submit(class="btn col-lg-12")}}
            </form>
        </div>
    </div>
</div>
{% endblock %}